<footer class="fbar">
  <span class="fsr">
      <!--<span class="_eA">
          2014-2015&nbsp;Copyright&nbsp;&copy;&nbsp;UC.MY
      </span>-->
      <span class="_Gs">
          <a href="javascript:setAsDefault();">设置为默认搜索引擎</a>
      </span>
  </span>
  <span class="fsl">
      <a class="_eA" href="http://www.gdutbbs.com/" target="_blank">
          <strong>工大后院</strong>
      </a>
      <a class="_Gs" href="http://www.luanup.com/" target="_blank">
          <strong>广州学生网</strong>
      </a>
      <a class="_Gs" href="http://www.uc.my" target="_blank" title="U搜">
          <strong>简易谷歌</strong>
      </a>
      <a class="_Gs" href="http://www.taobao.soy" target="_blank" title="U搜">
          <strong>淘宝热卖</strong>
      </a>
      <a class="_Gs" href="http://edu.nodejs.com" target="_blank" title="Nodejs培训网">
          <strong>Nodejs培训网</strong>
      </a>
  </span>
</footer>
